<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Fake</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <header class="header">
        <div class="logo"><a href="/">
            <img src="/Images/Logo.jpg" alt="">
        </a></div>
        <div class="log-text">Login</div>
        <div class="nav-links">
            <a href="/signup" class="register">Register</a>
        </div>
    </header>
    <div class="login-container">
        <div class="login-box">
            <h2>Sign In to your account</h2>
            <form id="loginForm">
            <div class="container-input">
                <input type="email" id="email" placeholder="Email" required>
                <label for="email">Email</label>
            </div>
            <div class="container-input">
                <input type="password" id="password" placeholder="Password" required>
                <label for="password">Password</label>
            </div>    
                <button type="submit">SUBMIT</button>
            </form>
            <p class="register-link">New here? <a href="/signup">Create Account</a></p>
        </div>
    </div>
       <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-logo" style="color: white;">Fake</div>
        </div>
        <p class="footer-text">&copy; 2025 Fake. All Rights Reserved.</p>
    </footer>
</body>
<script src="/login.js"></script>
</html>