<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="grid">
            <nav class="header__navbar">
               <a href="" class="header__cart-page">
                    <img src="./img/Logo.jpg" alt="" class="header__img">
                    <div class="header__cart-page-name">Thanh Toán</div>
               </a>
            </nav>
        </div>
    </div>

    <div class="app__container">
        <div class="container">
            <div class="grid">
                <div class="container__address">
                    <h4 class="container__heading">
                        <i class="container__heading-icon fa-solid fa-location-dot"></i>
                        Địa chỉ nhận hàng
                    </h4>
    
                    <div class="container__list-total">
                        <ul class="container__list">
                             <li class="container__list-item">a a a()+84 321458906</li>
                             <li class="container__list-item">60/45C, khu phố 5, phường Hố Nai, Biên Hòa-Đồng Nai</li>
                        </ul>
                        <ul class="container__list">
                             <li class="container__list-item">
                                 <button class="container__list-item-btn">Mặc định</button>
                             </li>
                             <li class="container__list-item">
                                 <a href="#" class="container__list-item-link">Thay đổi</a>
                             </li>
                        </ul>
                    </div>
                </div>
    
               
            </div>
        </div>
    
        <div class="container__product">
            <ul class="container__product-heading">
                <li class="container__product-item">
                    <h4 class="container__product-titlte">Sản phẩm</h4>
                </li>
                <li class="container__product-item">Đơn giá</li>
                <li class="container__product-item">Số lượng</li>
                <li class="container__product-item">Thành tiền</li>
            </ul>
            
    
            <div class="cart-item">
                <img class="product-img-item" src="./img/Hinh_s3.jpg" alt="Mũ Bóng Chày">
                <ul class="product-info">
                    <li class="product-name">Kayaktion Nam Mới Nữ Mũ Bóng Chày In Chữ ...</li>
                </ul>
    
                <span class="type-product">Loại: A1</span>
    
                <div class="total-price">
                    <div class="total-price-item">đ29.028</div>
                    <div class="total-price-item">1</div>
                    <div class="total-price-item">đ29.028</div>
                </div>
            </div>
        </div>
    
        <footer class="cart-item-footer">
            <span class="cart-item-footer-title">
                <i class="cart-item-footer-icon fa-solid fa-ticket"></i>
                Voucher của Shop
            </span>
            <span class="cart-item-footer-link">
                <button class="cart-item-footer-btn">-đ1k</button>
                <a href="#" class="cart-item-footer-a">Chọn Voucher khác</a>
            </span>
        </footer>
        
        <div class="cart-item-shop-voucher">
            <h4 class="cart-item-shop-voucher-item">
                <i class="cart-item-shop-voucher-item-icon fa-solid fa-ticket"></i>
                Shopee Voucher
            </h4>
            <a href="#" class="cart-item-shop-voucher-link">Chọn Voucher</a>
        </div>
    
        <div class="cart-item-coin-shop">
           <ul class="cart-item-coin-shop-list">
                <li class="cart-item-coin-shop-item">
                    <h4 class="cart-item-coin-shop-heading">
                        <i class="cart-item-coin-shop-icon fa-solid fa-coins"></i>
                        Shoppe Xu
                    </h4>
                </li>
                <li class="cart-item-coin-shop-item">Không thể sử dụng xu</li>
           </ul>
           <button class="cart-item-coin-shop-btn">-đ0</button>
        </div>
    
        <div class="cart-item-payment">
            <h4 class="cart-item-payment-title">Phương thúc thanh toán</h4>
            <ul class="cart-item-payment-list">
                <li class="cart-item-payment-list-item">Thanh toán khi nhận hàng</li>
                <li class="cart-item-payment-list-item">
                    <a href="#" class="cart-item-payment-list-item-link">THAY ĐỔI</a>
                </li>
            </ul>
        </div>
    
        <div class="cart-item-total-payment">
            <div class="cart-item-total-payment-content">
                <ul class="cart-item-total-payment-list">
                    <li class="cart-item-total-payment-list-item">Tổng tiền hàng</li>
                    <li class="cart-item-total-payment-list-item">đ29.028</li>
                </ul>
                <ul class="cart-item-total-payment-list">
                    <li class="cart-item-total-payment-list-item">Tổng tiền phí vẫn chuyển</li>
                    <li class="cart-item-total-payment-list-item">đ30.000</li>
                </ul>
                <ul class="cart-item-total-payment-list">
                    <li class="cart-item-total-payment-list-item">Tổng cộng Voucher giảm giá</li>
                    <li class="cart-item-total-payment-list-item">-đ1.000</li>
                </ul>
                <ul class="cart-item-total-payment-list">
                    <li class="cart-item-total-payment-list-item">Tổng thanh toán</li>
                    <li class="cart-item-total-payment-list-item-price">
                        <h4 class="">đ58.028</h4>
                        <h4 class="">Đã bao gồm thuế</h4>
                    </li>
                </ul>
            </div>
        </div>
    
        <div class="cart-item-shop-footer">
            <ul class="cart-item-shop-footer-list">
                <li class="cart-item-shop-footer-list-item">
                    Nhấn "Đặt hàng" đồng nghĩa với việc bạn đồng ý tuân theo điều khoản
                    <a class="cart-item-shop-footer-list-item-link" href="#">Điều khoản FakeShoppe</a>
                </li>
                <li class="cart-item-shop-footer-list-item">
                    <button class="cart-item-shop-footer-list-item-btn">Đặt hàng</button>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>