<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="logoutbtn">Logout</button>
    <a href="/add_products_admin"><button >thêm sản phẩm</button></a>
    <a href="/delete_edit_products"><button >xoá và sửa sản phẩm</button></a>
</body>
<script src="/user_information.js"></script>
</html>